---
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  const samples = await getCollection("samples").then((docs) =>
    docs.sort((a, b) => a.data.id.localeCompare(b.data.id)),
  );

  return samples.map((sample) => {
    return {
      params: {
        sample: sample.id,
      },
    };
  });
}

const { sample } = Astro.params;
const sampleEntry = await getEntry("samples", sample);
---

<html>
  <head>
    <title>Rescript Kaplay - {sampleEntry.data.id}</title>
    <link rel="icon" type="image/png" href="/rescript-kaplay/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <script type="module" set:html={sampleEntry.data.source} />
  </body>
</html>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    overflow: clip;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 800px) {
    canvas {
      border: 1px solid #cad5e2;
    }
  }
</style>
