---
import { getCollection } from "astro:content";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { LinkCard, CardGrid } from "@astrojs/starlight/components";

const samples = await getCollection("samples").then((docs) =>
  docs.sort((a, b) => a.data.id.localeCompare(b.data.id)),
);

const frontmatter = {
  title: "Samples",
};
---

<StarlightPage frontmatter={frontmatter} headings={[]}>
  <p>
    These are the samples for the rescript-kaplay package.<br />
    They are not optimized for mobile devices.
  </p>
  <p>
    You can find the source code for the samples in the <a
      href="https://github.com/nojaf/rescript-kaplay/tree/main/packages/samples"
      >rescript-kaplay</a
    > repository.
  </p>
  <CardGrid>
    {
      samples.map((sample) => (
        <LinkCard
          title={sample.data.id}
          href={`/rescript-kaplay/samples/${sample.data.id}`}
        />
      ))
    }
  </CardGrid>
</StarlightPage>
